In [2]:
import requests
import json
import pandas as pd

In [3]:
data = requests.get('https://resultados.tse.jus.br/oficial/ele2022/544/dados-simplificados/br/br-c0001-e000544-r.json')

json_data = json.loads(data.content)

candidado = []
partido = []
votos = []
porcentagem = []

for informacoes in json_data['cand']:
    if informacoes['n'] == '13' or informacoes['n'] == '22' or informacoes['n'] == '12' or informacoes['n'] == '15':
        candidado.append(informacoes['nm'])
        votos.append(informacoes['vap'])
        porcentagem.append(informacoes['pvap'])

df_resultado = pd.DataFrame(list(zip(candidado, votos, porcentagem)), columns = ['Candidato', 'Votos', 'Porcentagem'])

df_resultado

        Candidato  Votos Porcentagem
0            LULA  83088       48,16
1  JAIR BOLSONARO  68714       39,83
2      CIRO GOMES   8326        4,83
3    SIMONE TEBET   8257        4,79

        Candidato  Votos Porcentagem
0            LULA  72200       50,71
1  JAIR BOLSONARO  53014       37,23
2      CIRO GOMES   7200        5,06
3    SIMONE TEBET   6358        4,47